@import 'components/header.css';
@import 'components/banner.css';
@import 'components/navigation.css';
@import 'components/products.css';
@import 'components/footer.css';

/* "Tamming" Box Model With Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*root*/
html {
  font-size: 18px;
}
body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}
h1,
h3 {
  font-weight: bold;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
