@import 'components/header.css';
@import 'components/banner.css';
@import 'components/navigation.css';
@import 'components/products.css';
@import 'components/location.css';
@import 'components/footer.css';
/*media queries*/
@import 'components/media-query-1024.css';
@import 'components/media-query-470.css';

/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 18px;
}
body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
#wrapper-white {
  background-color: white;
  width: 100%;
}
