/*resources/css/components/header.css*/
#header {
  background-color: black;
  color: white;
}
#header img {
  height: 1.5rem;
  padding-right: 1rem;
}
#header .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}
