/*resources/css/components/location.css*/
#locations-content {
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.location {
  width: 35%;
}
.location h3 {
  background-color: black;
  padding: 1rem 2rem;
}
.location p {
  color: black;
  padding-top: 0.25rem;
}
